@tailwind base;
@tailwind components;


.hello-container-test {
  @apply text-4xl;
  display: flex;
  justify-content: center;
  background-color: red;
}

.field__input {
    border-radius: 18px !important;
}



@tailwind utilities;